<% content_for :page_title, "Professionals" %>

<h2>Professionals</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th colspan="4">Appointments</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.to_s%></td>
        <td><%= professional.total%></td>
        <td>
         <% if can? :create, Appointment %>
        <%= link_to 'New', new_professional_appointment_path(professional) %>
        <% end %>
        </td>
        <td><%= link_to 'See All', professional_appointments_path(professional) %></td>
        
        <td>
        <% if can? :destroy, Appointment %>
        <%= link_to 'Cancel All', cancel_professional_appointments_path(professional), method: :delete %>
        <%end%>
        </td>
        
        <td><%= link_to 'Show', professional %></td>
        <% if can? :update, Professional %>
        <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
        <% end %>
        <% if can? :destroy, Professional %>
        <td><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <% if can? :create, Professional %>
<%= link_to 'New Professional', new_professional_path, class: "btn btn-primary btn-sm" %>
<% end %>
