<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @professional.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @professional.surname %>
</p>

<p>
  <strong>Appointments:</strong>
  <%= link_to 'Appointments', professional_appointments_path(@professional) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @professional.active %>
</p>



<% if can? :update, Professional %>
<%= link_to 'Edit', edit_professional_path(@professional), class: "btn btn-primary btn-sm" %> |
<% end %>
<%= link_to 'Back', professionals_path, class: "btn btn-secondary btn-sm" %>
