<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %><br />
    <%= form.text_field :username,autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= form.label :role %><br />
    <%= form.select :role, User.roles.keys {|x| [x]}, {}, class: "multiple" %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "password" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
