<%= form_with(model: [@professional, appointment]) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%#   <div class="field">
    <%= form.label :professional_id %>
    <%# <%= form.select :professional_id, Professional.all {|x| ["#{x.title} #{x.surname}", x.id]}, {}, class: "multiple" %>
  <%# </div> 
  %>
<div class="row">
  <div class="col-sm-6">
    <div class="field">
      <%= form.label :name %><br />
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :surname %><br />
      <%= form.text_field :surname, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :phone %><br />
      <%= form.text_field :phone, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :notes %><br />
      <%= form.text_area :notes, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active %>
    </div>

    <div class="field">
      <%= form.label :date %><br />
      <%= form.date_select :date, class: "form-control" %>
      <%= form.time_select :time, class: "form-control" %>
    </div>

    <div class="actions form-group">
      <%= form.submit class: "form-control btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
<% end %>
