<p id="notice"><%= notice %></p>

<p>
  <strong>Professional:</strong>
  <%=@professional.to_s %>
</p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @appointment.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @appointment.active %>
</p>

<%= link_to 'Edit', edit_professional_appointment_path(@professional, @appointment), class: "btn btn-primary btn-sm" %> |
<%= link_to 'Back', professional_appointments_path(@professional), class: "btn btn-secondary btn-sm" %>
