<%= form_with(model: export) do |form| %>
  <% if export.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(export.errors.count, "error") %> prohibited this export from being saved:</h2>

      <ul>
        <% export.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-6">
    <div class="field">
      <%= form.label :professional %>
      <%= form.collection_select :professional, Professional.order(:surname), :id, :to_s, {
          :prompt => "Leave blank for all professionals...", :include_blank => true}, 
          class: "multiple form-control"
      %>
    </div>

    <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date,  class: "form-control"%>
    </div>

    <div class="field">
    <%= form.label :day %>
    <%= form.radio_button :type, :day, {checked: true}%>
    </div>
        <div class="field">
    <%= form.label :week %>
    <%= form.radio_button :type, :week%>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary btn-sm"%>
    </div>
  </div>
</div>
<% end %>
