<!DOCTYPE html>
<html>
  <head>
    <title>Polycon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
        <p>
        Hola, <%= current_user.email %>
        </p>
        <p><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></p>
        
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "Appointments", appointments_path %>
    <%= link_to "Professionals", professionals_path %>
    </nav>
    <%= yield %>
  </body>
</html>
